@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 10px ;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(34, 34,34);
}

.header,.footer {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.left-links ,.right-links {
  display: flex;
  padding: 4px;
  gap: 10px;
  margin: 0;
}

.content {
  text-align: center;
}

.footer {
  background-color: "#eeeeee" ;
}

.buttons{
  padding: 8px;
}